@font-face {
    font-family: RBN;
    src: url(RBNo2Light-Light.ttf);
  }

.parentSidebar {
    width: 10%;
    position: fixed;
    height: 100%;
    background-color: #4B0404;
    left: 90%;
    z-index: 2;
}

.childSidebar {
    position: relative;
    margin-top: 25vh;
    height: 40%;
    // background-color: #E2DFD0;
    width: 100%;
}

.active {
    // border-bottom: solid;
    border-left: solid;
    border-width: 10px;
    width: 100%;
    border-color: black;
}

.title {
    background-color: black;
    font-size: 29px;
}


.sideBarList {
    list-style-type: none;
    position: absolute;
    left:37.5%;
    top:30%;
    transform: translate(-50%, -50%);
    padding: 0;
    text-align: center;

    & li {
        float: left;
        padding: 5px;
        margin-top: 10%;
        display: block;
        font-family: RBN;
        font-weight: 400;
        margin-left: -10%;
        letter-spacing: 0em;
        // box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
        font-size: 17px;
        width: 100%;
        transition: all, 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: #949494;
            opacity: 0.8;
        }
        & span {
           display: block;
           width: 100%;
           letter-spacing: 0.1em;
           float: left;
           text-align: left;
        }
    }

}



@media only screen and (max-width: 768px) {
    .parentSidebar {
      display: none;
    }
  }

  @media only screen and (min-width: 769px) and (max-device-width: 1083px) {
    .sideBarList li {
      font-size: 75%;
    
    }
  }

  @media only screen and (min-width: 1200px) {
    // .parentSidebar {
    //   width: 8%;
    //   left: 90%;
    // }
}